@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

a {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

h2 {
    font: 1em sans-serif;ont-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

div.Socials a {
    text-decoration: none;
    color: black;
}

div.Button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: flex;
}

div.DonateButton a {
    color: white;
}

div.Button a {
    text-decoration: none;
    color: white;
}

img {
    display: flex;
    width: max-content;
    padding-bottom: 10px;
}